@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    @apply bg-white text-slate-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}

@layer utilities {
  .nav-blur {
    @apply backdrop-blur-md bg-white/80 dark:bg-slate-900/80;
  }
}
